   /* h1:hover {
    cursor: url('../../assets/aa.jpeg'), pointer;
    height: 10vh;
}     */
body {
    background-color: lightgray;
  }

.cursor {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 5%;
  position: absolute;
}

ul {
  z-index: 1;
}